<%= render "shared/header" %>


<div class='user_wrapper'>
  <div class="user-nickname"><h3><%= @user.nickname %></h3></div>
  <div class='user-type'>タイプ: <%= @user.type.name %></div>
  <div class='user-info'>
  <% if @user.type.name == 'ワーカー'%>
    career
  <% else %>
    <div class="user-profile">
      <div class='profile'>
        <% unless @user.profile.profile == '' %>
        <%= @user.profile.profile%>
        <%end%>
      </div>
      <div class='website'>
        <% unless @user.profile.website == '' %>
        <%= @user.profile.website %>
        <% end %>
      </div>
    </div>
    <% if @user.profile.blank?%>
    <%= link_to 'プロフィールを編集', new_user_profile_path(@user) %>
    <% else %>
    <%= link_to 'プロフィールを編集', "/users/#{@user.id}/profiles/#{@user.profile.id}/edit" %>
    <% end%>
  <% end %>
  </div>
</div>