<%= render "shared/header" %>
<h3>ようこそ、<%= @user.nickname %>さん</h3>

<div class='user_wrapper'>
  <div class='user-type'>ユーザータイプ: <%= @user.type.name %></div>
  <div class='user-info'>
  <% if @user.type.name == 'ワーカー'%>
  career
  <% elsif @user.profile.present? %>
    profile
    <%= link_to '編集', edit_user_profile_path(@user) %>
  <% else %>
    profile
    <%= link_to '登録', new_user_profile_path(@user) %>
  <% end %>
  </div>
</div>